<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>Image:</strong>
    <%= image_tag @user.image.url %>
</p>
<% if logged_in? %>
<%= link_to 'Favorite List',favorites_path,class:'btn btn-primary' %>
<%= link_to 'Edit User',edit_user_path(@user.id),class: 'btn btn-primary' %>
<% end %>
