<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :picture %>
  <p>Title:<%= @picture.title %></p>
  <p>Content:<%= @picture.content %></p>
  <p>Picture:<%= @picture.picture %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
