<%= notice %>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Poster</th>
  </tr>
  <tr>
<% @pictures.each do |picture| %>
    <td><%= picture.title %></td>
    <td><%= picture.content %></td>
    <td><%= picture.user.name %></td>
    <td><%= link_to 'Show',picture_path(picture.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Post' ,new_picture_path %>
