<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Poster</th>
    <th>Picture</th>
  </tr>
  <tr>
<% @pictures.each do |picture| %>
<% binding.pry %>
    <td><%= picture.title %></td>
    <td><%= picture.content %></td>
    <td><%= picture.user.name %></td>
    <td><%= image_tag picture.picture.url %></td>
    <td><%= link_to 'Show',picture_path(picture.id),class: 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Post' ,new_picture_path,class: 'btn btn-default' %>
